# PulseChat Mobile Environment Configuration Template
# This file is an EXAMPLE template. The application does NOT read this file.
# By default, PulseChat automatically detects your PC's IP address.
#
# If you ever want to manually override the backend URL, copy this file to '.env':
# EXPO_PUBLIC_API_URL=http://YOUR_COMPUTER_IP:5000

